.p-index {
  &__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin: 1rem auto;
    gap: 0.5rem;

    &__extended {
      display: flex;
      align-items: center;
      align-self: flex-end;

      .c-icon {
        margin: 0 -3px -2px 0;
      }
    }
  }

  &__movie-display {
    margin: 4rem 0 6rem;

    &__heading {
      margin: 0 0 1rem 28px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      h2 {
        font-family: Comfortaa;
        font-size: $lg-3x;

        .c-icon {
          margin: 0 0.5rem -0.2rem 0;
        }
      }

      a {
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.1rem;
      }
    }
  }
}
