@mixin _rating-gradient($color, $layout) {
  @if $layout == mobile {
    background: linear-gradient(
      90deg,
      transparent 5%,
      rgba($color, 0.9) 40%,
      rgba($color, 0.9) 60%,
      transparent 95%
    );
  } @else {
    color: $color;
    background: linear-gradient(90deg, rgba($color, 0.7), transparent 30%);
  }
}

@mixin rating-gradient($layout) {
  &--dire {
    @include _rating-gradient(hsl(0, 95%, 50%), $layout);
  }

  &--bad {
    @include _rating-gradient(hsl(0, 70%, 53%), $layout);
  }

  &--meh {
    @include _rating-gradient(hsl(33, 75%, 53%), $layout);
  }

  &--good {
    @include _rating-gradient(hsl(120, 60%, 60%), $layout);
  }

  &--great {
    @include _rating-gradient(hsl(120, 95%, 50%), $layout);
  }
}

@mixin background-layer($layer) {
  $col: rgba($surface, calc(1 - #{$layer} * 0.05));
  background: linear-gradient($col, $col), $on-surface;
}
