.l-index {
  min-height: 100vh;
  display: grid;

  &--mobile {
    grid-template-rows: 3.5rem 1fr auto;

    > * {
      padding: 10px;
    }

    > .page {
      grid-row-start: 2;
    }

    > .c-footer {
      grid-row-start: 3;
    }
  }

  &--desktop {
    grid-template-rows: 5rem 1fr auto;

    > .page {
      grid-row-start: 2;
      width: 90vw;
      margin: 3rem auto;
    }

    > .c-footer {
      grid-row-start: 3;
    }
  }
}
