body {
  background-color: $surface;
  color: $on-surface;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: $lg-4x;
}

h2 {
  font-family: Comfortaa;
  font-size: $lg-3x;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

:focus {
  outline-color: $primary;
}
