body {
  background-color: $surface;
  color: $on-surface;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  color: $primary-accent;

  &:visited {
    color: $primary-accent;
  }
}

// @media screen and (max-width: 350px) {
//   html {
//     font-size: 12px;
//   }
// }
