.g-modal-backdrop {
  position: absolute;
  left: 0;
  z-index: 9998;
  height: 100%;
  width: 100%;
  background-color: rgba($surface, 85%);
  cursor: pointer;

  @keyframes modalPopup {
    0% {
      transform: translate(-50%, -50%) scale(90%);
      opacity: 0%;
    }
    // 100% {
    //   transform: translate(-50%, -50%) scale(100%);
    // }
  }

  > :only-child {
    z-index: 9999;
    cursor: initial;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: modalPopup 0.2s;
  }
}

// https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/
body.modal-open {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}
