.g-modal-backdrop {
  position: absolute;
  left: 0;
  z-index: 9998;
  height: 100%;
  width: 100%;
  background-color: rgba($surface, 85%);

  &.fade-enter-active,
  &.fade-leave-active {
    transition: background-color 0.2s;
  }

  &.fade-enter,
  &.fade-leave-to {
    background-color: rgba($surface, 0%);
  }

  > :only-child {
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.grow-fade-enter-active,
    &.grow-fade-leave-active {
      transition: transform 0.2s, opacity 0.2s;
    }

    &.grow-fade-enter,
    &.grow-fade-leave-to {
      transform: translate(-50%, -50%) scale(90%);
      opacity: 0;
    }
  }
}

// https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/
body.modal-open {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}
