$col-green-light: #006466;
$col-green-medium: #0b525b;
$col-green-dark: #1b3a4b;
$col-blue-medium: #212f45;
$col-blue-dark: #272640;
$col-purple-light: #4d194d;
$col-purple-medium: #3e1f47;
$col-purple-dark: #312244;
$col-white-light: #f8f9fa;
$col-white-medium: #e9ecef;
$col-gray-light: #adb5bd;
$col-gray-medium: #6c757d;
$col-gray-dark: #495057;
$col-black: #212529;
