.c-header {
  $self: &;

  position: fixed;
  height: 3.5rem;
  width: 100%;
  z-index: 100;

  @include background-layer(4);

  &--mobile {
    transition: height 250ms;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);

    #{$self}__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      #{$self}__btn {
        padding: 0.2rem;
        display: flex;
        align-items: center;
      }
    }

    &--extended {
      height: 10rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      text-shadow: $primary 3px 3px 0;
    }
  }
}
