// @todo refactor with grid instead of flexbox
.c-movie-card {
  $self: &;

  background: linear-gradient(
    180deg,
    $col-purple-light 75%,
    $col-purple-medium 100%
  );
  border-radius: 7px;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);

  &__title {
    flex-basis: 45%;
    padding: 0 10px;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: $col-purple-dark;
    display: flex;
    flex-direction: column;

    #{$self}__date {
      align-self: flex-end;
      font-size: small;
      background-color: rgba($col-gray-dark, 0.8);
      padding: 0.2rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    #{$self}__name {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        // recommended styles by fitty: https://github.com/rikschennink/fitty
        white-space: nowrap;
        display: inline-block;

        text-align: center;
        padding-bottom: 0.1rem;
      }
    }
  }

  &__rating {
    text-align: center;

    &--dire {
      @include rating-gradient(black);
    }

    &--bad {
      @include rating-gradient(red);
    }

    &--meh {
      @include rating-gradient(orange);
    }

    &--good {
      @include rating-gradient(rgb(47, 163, 36));
    }

    &--great {
      @include rating-gradient(rgb(19, 228, 19));
    }
  }

  &__genres {
    flex-grow: 1;
    font-size: small;
    padding: 0 10px;
    color: $col-gray-light;
    font-style: italic;
    opacity: 90%;
  }

  &__expand {
    flex-basis: 10%;
    text-align: center;

    details {
      height: 100%;

      // removing default marker in different browsers: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#customizing_the_disclosure_widget
      > summary {
        height: 100%;
        list-style: none;
      }
      > summary::-webkit-details-marker {
        display: none;
      }
    }

    div {
      position: absolute;
    }
  }
}

// @todo why does this not work?
// @media screen and (min-width: 356) {
//   .c-movie-card {
//     height: 12rem;
//     background-color: aqua;

//     &__title {
//       flex-basis: 45%;
//     }
//   }
// }
