.c-movie-card-container {
  display: grid;
  gap: 1rem;

  &--mobile {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-top: 0.25rem;
    padding-bottom: 1rem;
  }

  &--desktop {
    grid-template-columns: repeat(auto-fit, 20rem);
  }
}
