// @todo refactor with grid instead of flexbox
.c-movie-card {
  $self: &;

  @include background-layer(1);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  height: 100%;

  &--desktop {
    position: relative;
    display: grid;
    grid-template-areas:
      "poster title"
      "poster rating"
      "poster meta";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 45% 1fr 2fr;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 11rem;
    flex: 0 0 22rem;

    &:hover,
    &:focus {
      outline: none;
      transform: scale(1.05);
      box-shadow: 0 0 15px 0 $primary;
      z-index: 1;
      color: unset;

      #{$self}__expand {
        color: $primary;
      }
    }

    // @todo add placeholder background image
    #{$self}__poster {
      grid-area: poster;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.01); // fixes round corner aliasing error
    }

    #{$self}__mm {
      padding: 0.2rem;
      @include background-layer(2);
      opacity: 0.9;
      z-index: 1;
      position: absolute;
      top: 2.5rem;
      border-radius: 0 5px 5px 0;
    }

    #{$self}__title {
      grid-area: title;
      margin: 0.5rem;
      margin-bottom: 0;
      overflow: hidden;

      &__main {
        font-family: Oswald;
        font-weight: 400;
        font-size: $lg-x;
        padding-bottom: 0.1rem;
        margin-bottom: 0.2rem;
        max-height: 4rem;

        // https://stackoverflow.com/a/13924997/13575631
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      &__sub {
        font-size: $sm;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        #{$self}__title__fsk {
          height: $md;
        }

        #{$self}__title__genres {
          color: $on-surface-2dim;
          padding: 0.1rem;
          font-style: italic;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    #{$self}__rating {
      font-family: Oswald;
      grid-area: rating;
      margin: 0.3rem 0;
      padding: 0.2rem 0.5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: $on-surface-dim;

      &__total {
        font-weight: bold;
        font-size: $lg;
      }

      &--dire {
        background: linear-gradient(
          90deg,
          transparent,
          hsla(0, 95%, 50%, 0.15),
          transparent
        );
        #{$self}__rating__total {
          color: hsl(0, 95%, 50%);
        }
      }

      &--bad {
        background: linear-gradient(
          90deg,
          transparent,
          hsla(0, 70%, 53%, 0.1),
          transparent
        );
        #{$self}__rating__total {
          color: hsl(0, 70%, 53%);
        }
      }

      &--meh {
        background: linear-gradient(
          90deg,
          transparent,
          hsla(33, 75%, 53%, 0.1),
          transparent
        );
        #{$self}__rating__total {
          color: hsl(33, 75%, 53%);
        }
      }

      &--good {
        background: linear-gradient(
          90deg,
          transparent,
          hsla(120, 60%, 60%, 0.1),
          transparent
        );
        #{$self}__rating__total {
          color: hsl(120, 60%, 60%);
        }
      }

      &--great {
        background: linear-gradient(
          90deg,
          transparent,
          hsla(120, 95%, 50%, 0.15),
          transparent
        );
        #{$self}__rating__total {
          color: hsl(120, 95%, 50%);
        }
      }
    }

    #{$self}__meta {
      grid-area: meta;
      margin: 0.5rem;
      font-size: $sm-x;
      line-height: $sm;
      color: $on-surface-dim;
    }

    #{$self}__expand {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      color: $on-surface-4dim;
      transition: color 0.1s;
    }
  }

  &--mobile {
    border-radius: 7px;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    #{$self}__title {
      flex-basis: 45%;
      overflow: hidden;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      background-color: red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // https://stackoverflow.com/a/13924997/13575631
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;

      #{$self}__date {
        align-self: flex-end;
        margin-right: 10px;
        font-size: $sm-x;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      // @todo overhaul title styling
      #{$self}__name {
        align-self: flex-start;
        max-width: 80%;
        padding: 0.2rem;
        background-color: red;
      }
    }

    #{$self}__rating {
      text-align: center;

      @include rating-gradient(mobile);
    }

    #{$self}__genres {
      flex-grow: 1;
      padding: 0 10px;
      font-size: $sm;
      color: $on-surface-2dim;
      font-style: italic;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    #{$self}__expand {
      flex-basis: 10%;
      text-align: center;

      details {
        height: 100%;

        // removing default marker in different browsers: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#customizing_the_disclosure_widget
        > summary {
          height: 100%;
          list-style: none;
        }
        > summary::-webkit-details-marker {
          display: none;
        }
      }

      div {
        position: absolute;
      }
    }
  }
}
