.c-movie {
  $self: &;

  &--modal {
    max-height: 90%;
    width: 50%;
    overflow-y: auto;
    padding: 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;

    @include background-layer(1);
  }
}
