.c-search {
  border-radius: 20px;
  width: 100%;
  min-width: 10rem;
  background: $on-surface-dim;
  box-shadow: 3px 3px 3px 2px rgba(#000, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem 0.2rem 1rem;

  &__input {
    flex-grow: 1;
    min-height: 2rem;
    line-height: 1.5rem;
    background: inherit;
    color: $on-surface-4dim;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $on-surface-3dim;
    }
  }

  &__btn {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    color: $on-surface-4dim;
  }
}
